{% extends 'base.html' %} {% block title %} The AI-Quiz - Game {% endblock %}
{%block content %}

<div class="base-container quiz-settings">
  <div class="content-container-shadow quiz-settings">
    <h1>AI QUIZ</h1>
    <form method="post" action="{% url 'game_start' %}">
      {% csrf_token %}

      <!--dropdown container for pre-defined quiz topics-->
      <label for="topic">Choose Topic:</label>
      <select name="topic" id="topic" onchange="toggleFields()">
        <option value=""></option>
        <option value="anything">Anything</option>
        <option value="sport">Sport</option>
        <option value="history">History</option>
        <option value="art">Art</option>
        <option value="geography">Geography</option>
      </select>
      <!--input field for custom quiz topic-->
      <label for="custom-topic">Or type a new Topic:</label>
      <input
        type="text"
        name="custom-topic"
        id="custom-topic"
        placeholder="Type Desired Topic!"
        oninput="toggleFields()"
      />
      <label for="difficulty">Choose Difficulty:</label>
      <select name="difficulty">
        <option value=""></option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>

      <label for="theme">Choose Theme:</label>
      <select name="theme">
          <option value=""></option>
          <option value="AI-Quiz">AI-Quiz (Default)</option>
          {% for theme in theme_options %}
              {% if theme in purchased_themes %}
                  <option value="{{ theme }}">{{ theme }}</option>
              {% else %}
                  <option value="{{ theme }}" disabled>{{ theme }} (not owned)</option>
              {% endif %}
          {% endfor %}
      </select>

      <button type="submit">Let's Play!</button>
    </form>
    
  </div>
</div>

{% endblock %}
