{%load static%}
<link rel="stylesheet" href="{% static 'css/game_start.css' %}" />


<!-- hx-trigger = "click:from .answer_choice_button " -->
<div> Your time is running: </div>
<div class="countdown"></div>

<form hx-post="/start-result" hx-target="#swap-container" hx-trigger="click from:button, every 10s">
    {% csrf_token %}

    <p class="question">{{ question }}</p>

    <div class="answers">
        <div class="answer_pair">
            <label class="radio-label">
                <input name="options" type="radio" id="option_1" value="A"> {{ A }}
            </label>
            <label class="radio-label">
                <input name="options" type="radio" id="option_2" value="B"> {{ B }}
            </label>
        </div>

        <div class="answer_pair">
            <label class="radio-label">
                <input name="options" type="radio" id="option_3" value="C"> {{ C }}
            </label>
            <label class="radio-label">
                <input name="options" type="radio" id="option_4" value="D"> {{ D }}
            </label>
        </div>

        <div class="button_div">
            <button class="answer_choice_button" type="submit">Submit</button>
        </div>
    </div>
</form>

<footer>
    <p> {{user.username}}</p>

    <!-- {% if user.image %}
        <img src="{{ user.image.url }}" alt="User Image" width="150" height="150">
    {% else %} -->
    <img src="{% static 'assets/profile_placeholder.jpeg' %}" alt="male" width="300" height="300">
    <!-- {% endif %} -->
    <p>Score :{{score}}</p>
   
</footer>







