{% extends 'base.html' %} 
{% block title %} The AI-Quiz - Game {% endblock %} 
{%block content %} 
{%load static%}

<form method="post" action="{% url 'game_start' %}">
  {% csrf_token %}
  <!--dropdown container for pre-defined quiz topics-->
  <div class="dropdown-container">
    <label for="topic">Choose Topic:</label>
    <select name="topic" id="topic" onchange="toggleFields()">
      <option value="">--Choose a Topic--</option>
      <option value="anything">Anything</option>
      <option value="sport">Sport</option>
      <option value="history">History</option>
      <option value="art">Art</option>
      <option value="geography">Geography</option>
    </select>

    <label for="difficulty">Choose Difficulty:</label>
    <select name="difficulty">
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
    </select>

    <button type="submit">Choose</button>
  </div>
  <!--input field for custom quiz topic-->
  <div class="input-field">
    <label for="custom-topic">Or type a new Topic!</label>
    <input
      type="text"
      name="custom-topic"
      id="custom-topic"
      placeholder="--type Topic here--"
      oninput="toggleFields()"
    />
  </div>
</form>

{% endblock %}
