<div class="base-container quiz-settings">
  <div class="content-container-shadow quiz-settings">
    <h1>AI QUIZ</h1>
    <form method="post" action="{% url 'game_start' %}">
      {% csrf_token %}

      <!--dropdown container for pre-defined quiz topics-->
      <label for="topic">Choose Topic:</label>
      <select name="topic" id="topic" onchange="toggleFields()">
        <option value="">--Choose a Topic--</option>
        <option value="anything">Anything</option>
        <option value="sport">Sport</option>
        <option value="history">History</option>
        <option value="art">Art</option>
        <option value="geography">Geography</option>
      </select>
      <!--input field for custom quiz topic-->
      <label for="custom-topic">Or type a new Topic:</label>
      <input
        type="text"
        name="custom-topic"
        id="custom-topic"
        placeholder="--Type Topic here--"
        oninput="toggleFields()"
      />
      <label for="difficulty">Choose Difficulty:</label>
      <select name="difficulty">
        <option value="">--Choose Difficulty--</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>

      <label for="theme">Choose Theme:</label>
      <select name="theme">
        <option value="">--Choose Background Theme--</option>
        <option value="AI-Quiz">AI-Quiz</option>
        <option value="space">Space</option>
      </select>

      <button type="submit">Let's Play!</button>
    </form>
  </div>
</div>
