
{% load static %}

<link rel="stylesheet" href="{% static 'css/game_start.css' %}" />
<!-- Include HTMX (adjust version if needed) -->
<script src="https://unpkg.com/htmx.org@1.8.4"></script>


<form hx-post="/start-result" hx-target="#swap-container" hx-trigger="click from:button, every 12s">
    {% csrf_token %}
    <p class="question">{{ question }}</p>
    <div class="answers">
        <div class="answer_pair">
            <label class="radio-label">
                <input name="options" type="radio" id="option_1" value="A"> {{ A }}
            </label>
            <label class="radio-label">
                <input name="options" type="radio" id="option_2" value="B"> {{ B }}
            </label>
        </div>
        <div class="answer_pair">
            <label class="radio-label">
                <input name="options" type="radio" id="option_3" value="C"> {{ C }}
            </label>
            <label class="radio-label">
                <input name="options" type="radio" id="option_4" value="D"> {{ D }}
            </label>
        </div>
        <div class="button_div"> 
            <div>
                <button class="answer_choice_button" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>

<div class="countdown_div">
    <div class="timer animatable">
        <svg>
            <circle cx="50%" cy="50%" r="90"/>
            <circle cx="50%" cy="50%" r="90" pathLength="1"/>
            <text x="100" y="100" text-anchor="middle">
                <tspan id="timeLeft"></tspan>
            </text>
            <text x="100" y="120" text-anchor="middle">seconds</text>
        </svg>
    </div>
</div>

<footer>
    <div class = "footer_div">
    <p>{{ user.username }}</p>
    <img src="{% static 'assets/profile_placeholder.jpeg' %}" alt="male" width="300" height="300">
    <p>Score: {{ score }}</p>
</div>
</footer>
<script src="{% static 'js/timer.js' %}"></script>









