
.form-container-success p {
    font-size: 1.2em !important;
    font-family: "Space Mono", serif;
    color: white;
    text-decoration: none;
    margin-bottom: 30px; 
}

/* Increase size of the container */
.form-container-success {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 6%; /* Increase padding for more space around the content */
    padding-top: 2%;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    width: 90%;
    max-width: 500px; /* Increase max-width to make the container wider */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Add some space between elements */
}

/* Style for the button */
button {
    padding: 12px 20px; /* Increase padding for the button */
    font-size: 1.2em; /* Increase button font size */
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

