.base-container,
.base-container a,
.base-container input,
.base-container button {
  display: flex;
  flex-direction: column;
  font-family: "Space Mono", serif;
  color: white;
  text-decoration: none;
  align-items: center;
}

.base-container h1 {
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 20px;
  font-size: 3em;
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #00ffff,
    0 0 40px #00ffff, 0 0 50px #ffff00, 0 0 60px #ffff00;
  animation: rainbow-glow 3s ease-in-out infinite;
}

@keyframes rainbow-glow {
  0% {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #00ffff,
      0 0 40px #00ffff, 0 0 50px #ffff00, 0 0 60px #ffff00;
  }
  25% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ffff00,
      0 0 40px #ffff00, 0 0 50px #00ff00, 0 0 60px #00ff00;
  }
  50% {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #0000ff,
      0 0 40px #0000ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff;
  }
  75% {
    text-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #ff0000,
      0 0 40px #ff0000, 0 0 50px #ffff00, 0 0 60px #ffff00;
  }
  100% {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #00ffff,
      0 0 40px #00ffff, 0 0 50px #ffff00, 0 0 60px #ffff00;
  }
}

.base-container a {
  font-size: 2vmin;
}

.content-container-shadow {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Space Mono", serif;
  padding: 4%;
  padding-top: 1.5%;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);}

.space-mono-regular {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: italic;
}

h4 {
  font-size: 1.2em;
  text-shadow: 0 0 5px #00ffff;
  margin: 10px 0;
}

form {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px; /* Evenly spaces form elements */
  width: 500px;
}

select, input {
  font-family: "Space Mono", serif;
  text-align: center;
  border-radius: 1%;
}