

.question {

    text-align: center;
}

.answers {


    display: flex;
    background-color: rgb(100, 99, 92);
    border-radius: 10px;
    align-content: center;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    flex-direction: column;
    padding: 5px;
    
}

.answer_pair {
    display: flex;
    justify-content: space-evenly;
    
    


}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

/* Style labels to look like buttons */
.radio-label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #e9dddd; /* Default red border */
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

/* Apply styles when a radio button is selected */
.radio-label:has(input:checked) {
    border: 2px solid #0b29b1; /* Highlight the border */
    background-color: #007bff; /* Change background */
    color: rgba(234, 240, 236, 0.979); /* Change text color */
}

.button_div {

text-align: center;

}

.answer_choice_button {

   margin: 5px;

}

label {


    margin: 5px;
    
}
