.content-area{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure the container takes up full height */
}

.topic-chosing{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; /* Centering vertically */
    width: 100%;
    margin-top: 100%;
    margin: 0%;
    border-color: red;
}

.topic-chosing h2{
    color: red;
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 30%;
    font-size: 5em;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #00ffff,
    0 0 40px #00ffff, 0 0 50px #ffff00, 0 0 60px #ffff00;
    animation: rainbow-glow 3s ease-in-out infinite;
}

.topic-chosing form {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Evenly spaces form elements */
    width: 500px;
}

.topic-chosing .dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.topic-chosing .input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topic-chosing label {
    font-weight: bold;
    margin-bottom: 5px;
}

.topic-chosing select, input{
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    height: 45px;

}

.topic-chosing button{
    margin-top: 40px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    height: 90px;
    background-color: rgb(175, 16, 16);
}

.topic-chosing button:hover {
    background-color: green;
    cursor: pointer;
}