.content-container-transparent {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
}

.content-container h2 {
  font-size: 2em;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}

.product-category {
  display: flex;
  flex-wrap: wrap;
}

.product-category .product-box {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: visible;
  margin-bottom: 20px;
  margin-right: 5%;
}

.product-box img {
  width: 75%;
  height: auto;
  border-radius: 5px;
}

.product-name {
  margin-top: 5px;
  font-size: 0.9em;
  color: white;
  text-align: center;
}

.hover-details {
  position: absolute;
  left: 50%;
  top: -10px; 
  transform: translateX(-50%); 
  width: 250px;
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hover-details .hover-img {
  width: 75%;
  height: auto;
  border-radius: 5px;
}

.hover-details .info {
  width: 100%;
  text-align: left;
}

.hover-details .info h3 {
  margin: 5px 0;
  font-size: 1em;
}

.hover-details .info .price {
  margin: 5px 0;
  font-weight: bold;
}

.hover-details .info .description {
  margin: 5px 0;
  font-size: 0.85em;
  line-height: 1.2em;
}

/* Action Section for the Buy Button */
.hover-details .action {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

/* Buy Button inside the Hover Details Box */
.hover-details .btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9em;
}

.hover-details .btn:hover {
  background-color: #45a049;
}

.product-box:hover .hover-details {
  opacity: 1;
  visibility: visible;
}
