<div class="buy_confirmation">
    <div id="confirmation-box">
        <h2>Buy Item?</h2><br>

        <div class="product-box">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image" />
            <div class="product-details">
                <h3>{{ product.name }}</h3>
                <p class="price">Price: ${{ product.price|floatformat:2 }}</p>
            </div>
        </div>

        <div class="form-group button-group">
            <form class="buy-confirm-form"
                action="{% url 'confirm_purchase' product.id %}" 
                method="POST"
                hx-post="{% url 'confirm_purchase_swap' product.id %}" 
                hx-target="#content-area" 
                hx-swap="innerHTML"
                hx-push-url="{% url 'shop_view' %}"
            >
                {% csrf_token %}
                <button type="submit" class="btn">Buy Now!</button>
            </form>

            <form class="buy-confirm-form">
                <button 
                    type="button"
                    class="cancel-btn btn"
                    hx-get="{% url 'shop_swap' %}"
                    hx-target="#content-area"
                    hx-swap="innerHTML"
                    hx-push-url="{% url 'shop_view' %}"
                >Cancel</button>
            </form>
        </div>
    </div>
</div>
