<div class="base-container-shop">
  <h1>Explore some epic items in our shop!</h1>
  <div class="content-container-transparent shop">
    <h2>Skins</h2>
    <div class="product-category">
      {% for product in products %} {% if product.category == "skins" %}
      <div class="product-box">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" />
        <p class="product-name">{{ product.name }}</p>
        <div class="hover-details">
          <img
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
            class="hover-img"
          />
          <div class="info">
            <h3>{{ product.name }}</h3>
            <p class="price">Price: {{ product.price }}</p>
          </div>
          <div class="action">
            {% if user.is_authenticated %}
            <a href="{% url 'buy_product' product.id %}" class="btn">Buy / Preview</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>

    <h2>Joker <span class="coming-soon">coming soon...</span></h2>
    <div class="product-category">
      {% for product in products %} {% if product.category == "joker" %}
      <div class="product-box">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" />
        <p class="product-name">{{ product.name }}</p>
        <div class="hover-details">
          <img
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
            class="hover-img"
          />
          <div class="info">
            <h3>{{ product.name }}</h3>
            <p class="price">Price: {{ product.price }}</p>
          </div>
          <div class="action">
            {% if user.is_authenticated %}
            <a href="{% url 'buy_product' product.id %}" class="btn">Buy / Preview</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>

    <h2>AI Opponents <span class="coming-soon">coming soon...</span></h2>
    <div class="product-category">
      {% for product in products %} {% if product.category == "opponents" %}
      <div class="product-box">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" />
        <p class="product-name">{{ product.name }}</p>
        <div class="hover-details">
          <img
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
            class="hover-img"
          />
          <div class="info">
            <h3>{{ product.name }}</h3>
            <p class="price">Price: {{ product.price }}</p>
          </div>
          <div class="action">
            {% if user.is_authenticated %}
            <a href="{% url 'buy_product' product.id %}" class="btn">Buy / Preview</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>