<div class="base-container leaderboard">
    
    <div class="content-container-shadow leaderboard">
        <h1>Leaderboard</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Nation</th>
                    <th id="stars-header" style="cursor: pointer;" title="Click to switch">Stars</th>
 
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'user_details' username=user.username %}" class="profile-link">{{ user.username }}</a></td>
                        <td>
                            <div class="nation-container">
                                <img src="https://flagicons.lipis.dev/flags/4x3/{{ user.nation|lower }}.svg" alt="{{ user.nation }}" class="flag-icon">
                                <span class="nation-name">{{ user.nation|upper }}</span> 
                            </div>
                        </td>
                        <td data-original-stars="{{ user.stars }}" data-average-stars="{{ user.average_stars_per_game }}"style="font-weight: bold;">
                            {{ user.stars }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>