{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <title>Leaderboard</title>
</head>
<div class="leaderboard">
    <div class="leaderboard-container">
        <h1>Leaderboard</h1>

        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Stars</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'user_details' username=user.username %}" class="profile-link">{{ user.username }}</a></td>
                        <td>{{ user.stars }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</html>
{% endblock %}
