<div class="update-container">
  <div class="update-form">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div class="error">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit">Login</button>
      <a href="{% url 'register_view' %}">
        <button type="button" class="cancel-button">Register</button>
      </a>
    </form>
  </div>
</div>