<div id="profile">
    {% load static %}
  <div>
    <h1>Welcome to {{user.username}}'s Profile</h1>
    {% if user.first_name %}
    <h3><span>name : </span> {{user.first_name}}</h3>
    {%endif%}
    <h3><span>Email : </span> {{user.email}}</h3>

    <h4><span>Stars : </span> {{user.Stars}}</h4>
  </div>

  {%if user == request.user %}

  <a class="details" href="{%url 'user_update' user.username%}"
    >Update profile</a
  >

  {%endif%}

  <div>
    <img
      src="{% static 'assets/profile_placeholder.jpeg' %}"
      alt="male"
      width="300"
      height="300"
    />
  </div>
</div>
