<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    {% load static %}


    
    div class="register">
    <form method="post">
        {% csrf_token %}
        
        <!-- Loop through each form field -->
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        
        <!-- Buttons -->
        <button type="submit">Update</button>
        <a href="{% url 'user_details' user.username %}">
            <button type="button">Cancel</button>
        </a>
    </form>
</div>

</body>
</html>