{% extends 'base.html' %}
{% load static %}
{% block title %} The AI-Quiz - Update Profile {% endblock %}
{% block content %}

<div class="update-container">
    <div class="update-form">
        <h2>Update Your Profile</h2>
        
        <form method="post">
            {% csrf_token %}
            
            <!-- Loop through each form field -->
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="error">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <!-- Buttons -->
            <button type="submit">Update</button>
            <a href="{% url 'user_details' user.username %}">
                <button type="button" class="cancel-button">Cancel</button>
            </a>
        </form>
    </div>
</div>
{% endblock %}
