<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<h1>you got matched succesfully !</h1>

<div>
<div>
    <h3>{{ user_data.username }}</h3>
    <img src="{{ user_data.image.url }}" alt="image">
    <h3>{{ user_data.average }} </h3>

</div>

<div><h1>VERSUS</h1></div>

<div>
    <h3>{{ opponent_data.username }}</h3>
    <img src="{{ opponent_data.image.url }}" alt="image">
    <h3>{{ opponent_data.average }} </h3>

</div>
</div>