<!-- Immediately send a message to the backend that the current player has come to the end of the game -->
<input
  ws-send
  hx-trigger="load"
  name="game_over"
  value="game_over"
  style="display: none"
/>

{% load static %} 
{% load highlight_correct_answer %}

<script src="{% static 'js/explanations_button.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/game_room.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap"
  rel="stylesheet"
/>

<div class="answers">
  <h1>Summary</h1>

  <div class="results_summary">
    <div class="player_div_resultscreen" id="player_1">
      <h2>{{ username }}</h2>
      <img src="{{ user.image.url }}" alt="{{ username }}" />
      <p id="result" class="score-positive" data-base="{{ player_score|cut:'+' }}">
        Score: {{player_score}} :D
      </p>
      <img
        src="https://flagicons.lipis.dev/flags/4x3/{{ user.nation|lower }}.svg"
        alt="{{ user.nation }}"
        class="flag-icon"
      />
    </div>
    <div class="vs_text">
      <p>VS</p>
    </div>
    <div class="player_div_resultscreen" id="opponent">
      <h2>{{ opponent.username }}</h2>
      <img src="/media/user_profile_images/profile_placeholder.jpeg" alt="{{ opponent.username }}">
      <p id="result" class="score-positive" data-base="{{ opponent_score|cut:'+' }}">
        Score: {{opponent_score}} :D
      </p>
        <img
          src="https://flagicons.lipis.dev/flags/4x3/{{ opponent.nation|lower }}.svg"
          alt="{{ opponent.nation }}"
          class="flag-icon"
        />

      <p></p>
    </div>
  </div>
  <div class="summary">
    <table>
      <tr>
        <td class="left">{{ player_topic }}</td>
        <td class="middle">Topic</td>
        <td class="right">{{ opponent_topic }}</td>
      </tr>
      <tr>
        <td class="left">{{ player_difficulty }}</td>
        <td class="middle">Difficulty</td>
        <td class="right">{{ opponent_difficulty }}</td>
      </tr>
      <tr>
        <td class="left">Show ratio of correct answers here</td>
        <td class="middle">Correct Answers</td>
        <td class="right">Show ratio of correct answers here</td>
      </tr>
      <tr>
        <td class="left">{{ player_score }}</td>
        <td class="middle">Stars earned</td>
        <td class="right">{{ opponent_score }}</td>
      </tr>
      <tr>
        <td class="left">{{ player_score }}</td>
        <td class="middle">Coins earned</td>
        <td class="right">{{ opponent_score }}</td>
      </tr>
    </table>
  </div>
  <!-- Slideshow container -->
  <div class="explanations" id="explanations">
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      {% if wrong_answers %} 
      {% for wrong_answer in wrong_answers %}
      <div class="mySlides fade">
        <div class="explanation-text">
          <h3>{{ wrong_answer.question }}</h3>
        </div>
        <div class="explanation-text">
          <h4>
            {{ wrong_answer.explanation|highlight_correct:wrong_answer.correct_answer_text|highlight_wrong:wrong_answer.player_answer_text|safe }}
          </h4>
        </div>
      </div>
      {% endfor %} 
      {% endif %}

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br />

    <!-- The dots/circles -->
    <div class="dots">
      {% for wrong_answer in wrong_answers %}
      <span class="dot" onclick="plusSlides(1)"></span>
      {% endfor %}
    </div>
  </div>

  <div class="game_over_buttons">
    <form action="/game/" method="post">
      {% csrf_token %}
      <input type="hidden" name="topic" value="{{ selected_topic }}">
      <input type="hidden" name="difficulty" value="{{ difficulty }}">
      <button class = "futuristic-button" type="submit">Play again</button>
    </form>
    <button
      id="toggleButton"
      class="futuristic-button explanations-button"
      onclick="toggleExplanations()"
    >
      Explain Wrong Answers
    </button>
    <button
      class="futuristic-button"
      type="button"
      onclick="window.location.href='/'"
    >
      Back
    </button>
  </div>
  <!-- Back Button -->
</div>