
<div hx-get="/results"
hx-target="#swap-multi_play"
hx-trigger="every 15s"></div>

<h1>Play Page</h1>

<p>Current Player: {{user}}</p>
{% for player in players %}
<p>player: {{ player }}</p>
{% endfor %}
<p>Question: {{question}}</p>
<p>A: {{A}}</p>
<p>B: {{B}}</p>
<p>C: {{C}}</p>
<p>D: {{D}}</p>

<div >
    <form
    ws-send
    id="answers"
    name="answers"
    hx-trigger="change from:input[name='options']"
    class="form"
  >
    {% csrf_token %}
    <div class="play_box">
      <div class="question_box"><h1 class="question">{{ question }}</h1></div>
      <div class="answer_box">
        <div class="answer_pair">
          <label class="radio-button">
            <input name="options" type="radio" id="option_1" value="A" /> {{ A }} 
          </label>
          <label class="radio-button">
            <input name="options" type="radio" id="option_2" value="B" /> {{ B }}
          </label>
        </div>
        <div class="answer_pair">
          <label class="radio-button">
            <input name="options" type="radio" id="option_3" value="C" /> {{ C }} 
          </label>
          <label class="radio-button">
            <input name="options" type="radio" id="option_4" value="D" /> {{ D }}
          </label>
        </div>
      </div>
    </div>
  </form>
</div>

