{% extends 'base.html' %}
{% block title %} Waiting Room {% endblock %}
{% block content %}

    <style>
        /* Versteckt die Navbar */
        nav,
        nav::before,
        nav::after,
        header,
        footer,
        footer span,
        footer a:hover span,
        footer a {
            display: none;
        }
        /* Styling für den Loader */
        .loader {
            margin-top: 20px;
            text-align: center;
        }
        @keyframes blink {
            0%, 20% { opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
        }
    </style>

    <div class="loader">
        <span>Waiting for Opponent</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
    </div>

    <form action="{% url 'leave_matchmaking' %}" method="post">
        {% csrf_token %}
        <button type="submit">Leave Matchmaking</button>
    </form>

    <script>
        function checkForMatch() {
            fetch("{% url 'check_match' user_id=user_id %}")
                .then(response => response.json())
                .then(data => {
                    if (data.status === "matched") {
                        const loader = document.querySelector(".loader");
                        while (loader.children.length > 1) {
                            loader.removeChild(loader.lastChild);
                        }
                        // overwrites only the first span element 
                        loader.children[0].textContent = "Match Found! Starting game...";
                        setTimeout(() => {
                            window.location.href = "/game-room/" + data.room_id + "/";
                        }, 4000);
                    } else {
                        setTimeout(checkForMatch, 2000);
                    }
                });
        }
        checkForMatch();
    </script>

{% endblock %}
