{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <title>{% block title %}The AI-Quiz{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="#"><span>HOME</span></a>
        <a href="#"><span>QUIZ</span></a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'user_details' user.username %}"><span>PROFILE</span></a>
        <a href="{% url 'logout_view' %}"><span>LOGOUT</span></a>
        {% else %}
        <a href="{% url 'login_view' %}"><span>LOGIN / REGISTER</span></a>
        {% endif %}
        <div id="indicator"></div>
         <!-- Glint container with one main glint and several tail copies -->
        <div id="glint-container">
          <div class="glint" style="animation-delay: 0s;"></div>
          <div class="glint tail" style="animation-delay: 0.2s;"></div>
          <div class="glint tail" style="animation-delay: 0.4s;"></div>
          <div class="glint tail" style="animation-delay: 0.6s;"></div>
          <div class="glint tail" style="animation-delay: 0.8s;"></div>
        </div>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; 2025 The AI-Quiz. All rights reserved</p>
    </footer>
    <!-- Include the JavaScript file before the closing body tag -->
    <script src="{% static 'js/base_navbar.js' %}"></script>
  </body>
</html>
