{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <!-- Install htmx -->
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/further_general_styling.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/shop.css' %}" />
    <link rel="stylesheet" href="{% static 'css/buy_confirmation.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile_update.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/game_partial.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>{% block title %}The AI-Quiz{% endblock %}</title>
  </head>
  <body>
    <!-- Circuit Board Background Canvas (positioned behind all content) -->
    <canvas id="circuit-bg"></canvas>

    <header>
      <nav class="base-nav">
        <!-- 
        Navigation Links
        Only 'QUIZ' redirects to a new page, the rest are AJAX requests meaning,
        the content is fetched and swapped into <main> without refreshing the page.
        -->
        <a
          href="{% url 'game_view' %}"
          hx-get="{% url 'game_settings_swap' %}"
          hx-target="#content-area"
          hx-swap="innerHTML"
          hx-push-url="{% url 'game_view' %}"
        >
          <span>QUIZ</span></a
        >
        <a
          href="{% url 'leaderboard' %}"
          hx-get="{% url 'leaderboard_swap' %}"
          hx-target="#content-area"
          hx-swap="innerHTML"
          hx-push-url="{% url 'leaderboard' %}"
        >
          <span>RANKING</span></a
        >
        <a
          href="{% url 'shop_view' %}"
          hx-get="{% url 'shop_swap' %}"
          hx-target="#content-area"
          hx-swap="innerHTML"
          hx-push-url="{% url 'shop_view' %}"
          ><span>SHOP</span></a
        >
        {% if request.user.is_authenticated %}
        <a
          href="{% url 'user_details' user.username %}"
          hx-get="{% url 'profile_swap' %}"
          hx-target="#content-area"
          hx-swap="innerHTML"
          hx-push-url="{% url 'user_details' request.user.username %}"
          ><span>{{ request.user.username }}'s PROFILE</span></a
        >
        <a href="{% url 'logout_view' %}"><span>LOGOUT</span></a>
        {% else %}
        <a
          href="{% url 'login_view' %}"
          hx-get="{% url 'login_swap' %}"
          hx-target="#content-area"
          hx-swap="innerHTML"
          hx-push-url="{% url 'login_view' %}"
          ><span>LOGIN / REGISTER</span></a
        >
        {% endif %}
        <div id="indicator"></div>
      </nav>
    </header>

    <main id="content-area">{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; 2025 The AI-Quiz. All rights reserved</p>
    </footer>

    <!-- Include JS scripts -->
    <script src="{% static 'js/base_navbar.js' %}"></script>
    <script src="{% static 'js/base_circuitboard.js' %}"></script>
    <script src="{% static 'js/leaderboard.js' %}"></script>
    <script src="{% static 'js/game_topic_selection.js' %}"></script>
    <script src="{% static 'js/toggle_password_visibility.js' %}"></script>
    <script>
      document.body.addEventListener("htmx:configRequest", (event) => {
        event.detail.headers["X-CSRFToken"] = document.querySelector(
          'meta[name="csrf-token"]'
        ).content;
      });
    </script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
