.login .error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.login button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 20px;
}


.login .cancel-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 20px;
}

