{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/homepage_style.css' %}" />
<div class="homeimage">
  <h3 style="color:aliceblue">Ai-Quiz under construction...</h3>
</div>
{%if not user.is_authenticated %}
<div>
  <img
    class="home-image"
    src="{% static 'assets/home_logged_out.webp'%}"
    alt="static item"
    width="600"
    height="600"
  />
</div>
{% else %}
<div>
  <img
    class="home-image"
    src="{% static 'assets/home.webp'%}"
    alt="static item"
    width="600"
    height="600"
  />
</div>
<button id="play-button" 
        hx-post="{% url 'join_matchmaking' %}" 
        hx-trigger="click" 
        hx-swap="none">
  Play
</button>

<div id="matchmaking-status"></div>


{% endif %} 
{% endblock %}